/* ============================================= */
/*              Base styles                      */
/* ============================================= */

* {
    font-family: 'Lato', sans-serif;
    color: #777;
    box-sizing: border-box;
  }

header {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(233, 186, 233); 
    align-items: center;
    justify-content: space-between;


}


/* ============================================= */
/*              Header styles                      */
/* ============================================= */

header {
    grid-column-start: 1;
    grid-column-end: 3;
    /* grid-area: header; */
}

.appNicon {
    display: flex;
    align-items: center;
    width: 80%;
    flex-wrap: wrap;
    margin-left: 20px;
    justify-content: space-between;
}

.bell {
    width: 20px;
    height: 20px;
}

.nameNavatar{
   
    display: flex;
    width: 250px;
    align-items: center;
    border-left: solid 1px black;
    flex-wrap: wrap;
    justify-content: space-around;
}

#avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}


/* ============================================= */
/*              Navigation styles                */
/* ============================================= */

.dashboard,
.members,
.visits,
.settings {
    width: 20px;
    height: 20px;
}

.sidebar-div {
    grid-column-start: -2;
    grid-column-end: -3;
    /* grid-area: sidebar; */
}

.sidebar-nav {
    display: grid;
    padding-top:  15px;
    justify-content: center;
    grid-gap: 20px;
    background-color: rgb(151, 78, 151);
  
}


/* ============================================= */
/*              Navigation styles                */
/* ============================================= */

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
    /* grid-template-areas: 
        "header header"
        "sidebar main-content"
       
    ; */
}


.main-content {

    /* grid-area: main-content; */
    border: solid red 1px;
}

.search-div {
    border: solid red 1px;
}
