/* ============================================= */
/*              Body Container styles            */
/* ============================================= */

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "head"
        "sidebar"
        "main-content";
}

header {
    grid-area: head;
    background-color: rgb(233, 186, 233);
}
.sidebar-nav {
    grid-area: sidebar;
    background-color: rgb(151, 78, 151);
}

.main-content {
    display: grid;
    grid-area: main-content;
}

