/* ============================================= */
/*              Dashboard Header styles          */
/* ============================================= */

.main-header {
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-column: 1 / 3;

    @media (min-width: 768px) {
        width: 100%;
    }
    .headline {
        color: purple;
        padding-left: 10px;
        font-size: large;
        @media (min-width: 768px) {
            font-size: x-large;
        }
    }
}

.header-search-div {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 60px;
    flex-grow: 1;
    margin-left: 20px;
    background-color: lightgray;

    @media (min-width: 768px) {
        width: 90%;
        margin-left: auto;
    }

    input {
        width: 68%;
        height: 40px;
        margin-right: 20px;
        border-radius: 5px;
        outline: none;
    }
}

   

/* ============================================= */
/*              Alert Div styles                 */
/* ============================================= */


.alert {
    display: grid;
    grid-template-columns: 1fr;
    grid-column: 1 / 3;
    background-color: darkred;
    border-radius: 5px;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;

    @media (min-width: 768px) {
        width: 100%;
    }

    p,
    strong {
        color: white;
    }

    &-banner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 10px
    }
    &:hover {
        cursor: pointer;
    }
}

