/* ============================================= */
/*              Header styles            */
/* ============================================= */

.bell {
    width: 20px;
    height: 20px;
}

#avatar {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}