/* ============================================= */
/*              Header styles            */
/* ============================================= */

header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    h1 {
        margin-left: 2px;
        font-size: larger;
    }

    h3 {
        margin-right: 20px;
        // margin-left: 10px;
        font-size: small;
    }
}

.bellIcon {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-grow: 1.5;
    margin-right: 10px;

    .bell {
        width: 20px;
        height: 20px;
    }

}

.avatar-div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-left: solid 1px black;

    #avatar {
        width: 2em;
        height: 2em;
        border-radius: 50%;
        margin-right: 10px;
        margin-left: 10px;
    }
}



