/* ============================================= */
/*              Header styles                    */
/* ============================================= */

header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    h1 {
        margin-left: 2px;
        font-size: larger;

        @media (min-width: 768px) {
            font-size: x-large;
            margin-left: 20px;
        }
    }

    h3 {
        margin-right: 20px;
        font-size: small;

        @media (min-width: 768px) {
            font-size: larger;
        }
    }
}

.bellIcon {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-grow: 1.5;
    margin-right: 10px;
    .bell {
        width: 20px;
        height: 20px;
    }

}

.avatar-div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-left: solid 1px black;

    #avatar {
        width: 2em;
        height: 2em;
        border-radius: 50%;
        margin-right: 10px;
        margin-left: 10px;
    }
}


/* ============================================= */
/*              Notifications styles             */
/* ============================================= */

#notifications {
    position: absolute;
    height: 10px;
    width: 10px;
    top: 15px;
    border-radius: 50%;
    background-color: lightgreen;

    &:hover {
        .notification-sub {
            display: flex;
            flex-direction: column;
        }
    }

}

.notification-sub {
    display: none;
}

.messages {
    display: flex;
    width: 14.5em;
    margin-top: 23px;
    background-color: lighten(purple, 5%);
    justify-content: space-between;
    border-bottom: solid 1px whitesmoke;
    
    p {
        color: white;
    }
}

.followers {
    display: flex;
    width: 14.5em;
    background-color: lighten(purple, 5%); 
    justify-content: space-between;
    border-bottom: solid 1px whitesmoke;
    
    p {
        color: white;
    }
}

.password {
    display: flex; 
    width: 14.5em;
    background-color: lighten(purple, 5%);
    justify-content: space-between;
    border-bottom: solid 1px whitesmoke;
    
    p {
        color: white;
    }
}