/* ============================================= */
/*              message User styles           */
/* ============================================= */

.message {
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
    border-top: solid 2px gray;
    grid-column: 1 / 3;

    @media (min-width: 768px) {
        border-right: solid 2px gray;
    }

    h3 {
        margin-bottom: 30px;

        @media (min-width: 768px) {
            align-self: flex-start;
            margin-left: 20px;
        }
    }
}

.message-container {
    display: flex;
    flex-direction: column;
    width: 100%;

    input {
        margin: 0 10px 20px 10px;
        border-radius: 5px;
        height: 2em;

        @media (min-width: 768px) {
            margin-left: 20px;
        }   
    }

    textarea {
        margin: 0 10px 10px 10px;
        border-radius: 5px;
        height: 6em;

        @media (min-width: 768px) {
            margin-left: 20px;
        }  
    }

    button {
        margin: 0 10px 10px 10px;
        background-color: purple;
        color: white;
        height: 2em;
        border-radius: 5px;

        @media (min-width: 768px) {
            margin-left: 20px;
            height: 2.5em;
        }  
    }
}