/* ============================================= */
/*              Setting styles                   */
/* ============================================= */
// %both {
//     color: white;
//     margin-top: 10px;
// }
.setings-set {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: solid 2px gray;
    background-color: whitesmoke;
    grid-column: 1 / 3;

    @media (min-width: 768px) {
        margin-top: 20px;
        border-left: solid 2px gray;
    }

    @media (min-width: 1024px) { 
        margin-top: 0px;      
    }

    .toggle-switch {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        @media (min-width: 768px) {
            display: flex;

            .main-span {
                width: 50%;
                margin-left: auto;

                @media (min-width: 1024px) {
                    width: 25%;
                    margin-left: 15px;
                }
            }
        }
    }
}

.switch-ios {
    text-align: center;
    margin: 10px;

    @media (min-width: 768px) {
        display: flex;
        width: 90%;
        margin-left: 20px;
    }
}

.notification,
.public {
    @media (min-width: 768px) {
        text-align: left;
        padding-top: 5px;
        color: purple;
        width: 80%;
    }

    @media (min-width: 1024px) {
        width: 43%;
    }
}

#timezone {
    width: 95%;
    height: 2em;
    color: purple;
    border-radius: 5px;
}

.setings-set h3 {
    @media (min-width: 768px) {
        align-self: flex-start;
        margin-left: 20px;
    }
}

.saveNcancle-div {
    display: flex;
    flex-direction: column;
    margin-top: 35px;
    width: 95%;

    @media (min-width: 768px) {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-top: 40px;
    }
    .cancle,
    .save {
        color: white;
        margin-top: 10px;
        background-color: purple;
        height: 40px;
        border-radius: 5px;

        @media (min-width: 768px) {
            margin-top: 0px;
            width: 48%;
            height: 45px;
            margin-bottom: 10px;
        }
    }
}


   