/* ============================================= */
/*              Navigation Bar styles            */
/* ============================================= */

.sidebar-nav {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}


.dashboard,
.members,
.visits,
.settings {
    width: 1.5em;
    padding-top: 20px;
    align-self: center;
}