/* ============================================= */
/*              Social Stats styles              */
/* ============================================= */

.twitter-logo,
.google-logo {
    width: 2em;
    height: 2em;
}

.facebook-logo {
    width: 3em;
    height: 3em;
}